# Compiled class files
*.class

# Log files
*.log
logs/

# Build and generated directories
build/
webapps/
ide/
conf/

# Extracted tools
tools/ant/
tools/tomcat/
tools/javacc/

webapps/
# Temporary files
compile_out.txt
